@charset "UTF-8";

/*  ==========================================================================
BREAKPOINTS (MOBILE FIRST)
========================================================================== */
$screen-xs:320px;
$screen-sm:768px;
$screen-md:992px;
$screen-lg:1200px;
$screen-xlg:1600px;

/*  ==========================================================================
CORES
========================================================================== */
$cor-primaria:#232323;
$cor-secundaria	:#e5e5e5;
$cor-terciaria:#141414;

/*  ==========================================================================
COLLAPSE
========================================================================== */
$collapse:10;

/*  ==========================================================================
SOMENTE PARA CONSULTAR QUAL A CLASSE PARA CADA INCONE, DEPOIS QUE CADA UM ESTIVER NO SEU DEVIDO COMPONENTE, EXCLUIR DAQUI ;)
========================================================================== */

